body{
    background-color: silver;
}
h1{
    text-align: center;
}
.input-triangulo, .input-cuadrado, .input-rectangulo, .input-rombo, .input-trapecio, .input-circulo, .input-esfera, .input-cubo, .input-paralelepipedo, .input-cilindro, .input-cono{
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 40px;
}
.triangulo, .cuadrado, .rectangulo, .rombo, .trapec, .circulo, .esfera, .cubo, .paralelepipedo, .cilindro, .cono{
    justify-content: center;
    display:flex;
    flex-direction: row;
    border: 10px groove red;
    width: 500px;
    height: 300px;
    background-color: rgb(253, 123, 123);
}